frameworks/cocos2d-x/external/linux-specific/fmod/prebuilt/64-bit/libfmod.so.6
linux-build/
simulator/

frameworks/cocos2d-x/cocos/2d/Debug.win32/
frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/Debug.win32/
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32/libluacocos2d/
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32/
frameworks/runtime-src/proj.win32/EasternDoor.opensdf
frameworks/cocos2d-x/external/Box2D/proj.win32/libbox2d.vcxproj.user
frameworks/cocos2d-x/cocos/2d/libcocos2d.vcxproj.user
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/libSpine.vcxproj.user
frameworks/cocos2d-x/external/recast/proj.win32/librecast.vcxproj.user
frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/libluacocos2d.vcxproj.user
frameworks/cocos2d-x/external/bullet/proj.win32/libbullet.vcxproj.user
frameworks/runtime-src/proj.win32/EasternDoor.sdf